{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }} - Blog Details{% endblock %}

{% block content %}
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner hero-banner--sm"
           style="background-image:url('{% static 'img/banner/hero-banner.png' %}');">
        <div class="hero-banner__content">
          <h3>Blog Details</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 posts-list">
          <div class="single-post">
            <div class="feature-img">
              <img class="img-fluid"
                   src="{% if post.image_url %}{{ post.image_url }}{% else %}{% static 'img/banner/blog.png' %}{% endif %}"
                   alt="{{ post.title }}">
            </div>
            <div class="blog_details">
              <h2>{{ post.title }}</h2>
              <ul class="blog-info-link mt-3 mb-4" style="max-width: 550px;">
                <li><span><i class="ti-user"></i>{{ post.author }}</span></li>
                <li><span><i class="ti-notepad"></i>{{ post.published_at }}</span></li>
                <li>
                  <span>
                    <i class="ti-heart" style="color:red"></i>
                    {{ post.likes }} Likes
                  </span>
                </li>
              </ul>
              <p class="excert">{{ post.text }}</p>
            </div>
          </div>

          <div class="comments-area">
            <h4>Comments ({{ comments|length }})</h4>
            {% for comment in comments %}
              <div class="comment-list">
                <div class="single-comment d-flex justify-content-between">
                  <div class="user d-flex">
                    <div class="desc">
                      <p class="comment">{{ comment.text }}</p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                          <h5>{{ comment.author }}</h5>
                          <p class="date" style="margin-left: 10px;">
                            {{ comment.published_at }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-4">
          <div class="single-sidebar-widget post-category-widget">
            <h4 class="single-sidebar-widget" style="height:200px;">Здесь будет реклама</h4>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
