{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="site-main">
  <!--================ Hero Banner start =================-->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner"
           style="background-image:url('{% static "img/banner/hero-banner.png" %}');">
        <div class="hero-banner__content">
          <h3>Tours &amp; Travels</h3>
          <h1>Amazing Places on earth</h1>
          <h4>December 12, 2018</h4>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero Banner end =================-->

  <!--================ Blog Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 posts-list">
          <div class="single-post row">
            <div class="col-lg-12">
              <div class="feature-img">
                <img class="img-fluid"
                     src="{% if post.image_url %}{{ post.image_url }}{% else %}{% static 'img/banner/blog.png' %}{% endif %}"
                     alt="{{ post.title }}">
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <a href="#">Food,</a>
                  <a class="active" href="#">Technology,</a>
                  <a href="#">Politics,</a>
                  <a href="#">Lifestyle</a>
                </div>
                <ul class="blog_meta list">
                  <li>
                    <a href="#">{{ post.author }}
                      <i class="ti-user"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">{{ post.published_at|date:"F d, Y" }}
                      <i class="ti-calendar"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">{{ post.comments.count }} Comments
                      <i class="ti-comment"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 blog_details">
              <h2>{{ post.title }}</h2>
              <p class="excert">{{ post.text }}</p>
            </div>
          </div>

          <!-- Comments -->
          <div class="comments-area">
            <h4>{{ post.comments.count }} Comments</h4>
            {% for comment in post.comments.all %}
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="{% static 'img/blog/c1.jpg' %}" alt="">
                    </div>
                    <div class="desc">
                      <p class="comment">
                        {{ comment.text }}
                      </p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                          <h5><a href="#">{{ comment.author }}</a></h5>
                          <p class="date">{{ comment.published_at|date:"F d, Y" }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- /Comments -->

        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 sidebar-widgets">
          <div class="widget-wrap">
            <div class="single-sidebar-widget newsletter-widget">
              <h4 class="single-sidebar-widget__title">Newsletter</h4>
              <div class="form-group mt-30">
                <div class="col-autos">
                  <input type="text" class="form-control" id="inlineFormInputGroup"
                         placeholder="Enter email"
                         onfocus="this.placeholder = ''"
                         onblur="this.placeholder = 'Enter email'">
                </div>
              </div>
              <button class="bbtns d-block mt-20 w-100">Subcribe</button>
            </div>

            <div class="single-sidebar-widget post-category-widget">
              <h4 class="single-sidebar-widget" style="height:200px;">Здесь будет реклама</h4>
            </div>
          </div>
        </div>
        <!-- /Sidebar -->

      </div>
    </div>
  </section>
  <!--================ Blog Area end =================-->
</main>
{% endblock %}
